<div class="course-container">
    <nav class="header">
        <img src="https://img.icons8.com/?size=100&id=XVdLRePLrKeo&format=png&color=000000" alt="Logo" class="logo">
        <div class="nav-links">
            <a routerLink="/professordashboard">Dashboard</a>
            <a routerLink="/courses">Courses</a>
        </div>
        <div class="icons">
            <a routerLink="/login">Logout</a>
            <img src="https://th.bing.com/th/id/OIP.Xm1mPsYVbg7zOuX6rWZ-fAAAAA?pid=ImgDet&w=181&h=181&c=7&dpr=1.1" alt="profile" routerLink="/professorprofile">
        </div>
    </nav>
    
    <div class="course-content">
        <h2>Course Name</h2>
        <div class="tab-buttons">
            <button routerLink="/professor-coursedetails">Assignments</button>
            <button routerLink="/assignment" (click)="assign()">Upload Assignments</button>
            <button (click)="goToStudents()">Students</button>
            <button routerLink="">Book</button>
        </div>
        <div class="tab-line"></div>
  
        <!-- Main content container -->
        <div class="card-container">
            <!-- Assignments View -->
            <div *ngFor="let assignment of assignments" class="card-2">
                <h4>{{ assignment.title }}</h4>
                <p>Deadline: {{ assignment.deadline }}</p>
                <!-- <button >View Details</button> -->
              </div>
        </div>
    </div>
</div>  